html, body {
  width:100%;
  height: 100%;
  box-sizing:border-box;
 
}

* {
  box-sizing:inherit;
}

body {
  margin:0; padding:0;
  background-color: #ccefd6;
}

h1 {
  text-align: center;
}

#menu {
    width: 85%;
    max-width: 600px;
    border: solid #fdf9f9;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: #171707;
    align-items:stretch;
    margin-top: 5px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.menu-form {

  display: flex;
  flex-direction: column;
}

.menu-form > p {
  color: #f9fc00;
  text-align: center;
  font-size: 2em;
  font-family: "Lucida Console", Monaco, monospace;
  margin-bottom: 20px;
}

.menu-form > input {
  margin-bottom: 5px;
  padding: 3px;
  background-color: white;
}

.menu-form > button {
   background-color: whitesmoke;
}

.room-info {
  margin-left: auto;
}
#roomid {

  text-align: center;
}

#message {
  margin-top: 5px;
  margin-bottom: 5px;  	
  text-align: center;
}

.alert {
  position: absolute;
  background-color: #dc3545;
  width: 300px;
  z-index: 10;
  font-size: 1.5em;
  font-weight: bold;
  display: none;
  left: 0;
  right: 0;	
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding-top: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: -0 5px 5px rgba(1, 1, 1, 0.40);
  border: solid 2px black;
}

.alert-message {
  background-color: #ffc107;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  color: black;
  white-space: pre-wrap;
}
.exit-alert {
  background-color: #d3d3d3;	
  color: black;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.4);
  border-style: solid;
  margin-top: 5px;
  text-align: center;
}
  div.exit-alert:hover {
    background-color: #28a745;
	box-shadow: 0 0 5px -1px rgba(0,0,0,0.8);
    cursor: pointer;
  }

canvas#canvas {
  position: relative;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-style: solid;
  background-color: white;
  box-shadow: -0 5px 5px rgba(1, 1, 1, 0.40);
}